<section>

    <h1>Ton-Vertäubung</h1>

</section>

<section>

    <div>
        <canvas baseChart #chartRight [data]="lineChartDataRight" [options]="lineChartOptions" [type]="lineChartType">
        </canvas>

        <table>
            <tr>
                @for (label of lineChartDataRight.labels; track label) {
                <th>{{ label }}</th>
                }
            </tr>

            <tr>@for (value of KLRechts; track value; let index = $index) {
                <td>
                    <input [(ngModel)]="KLRechts[index]" type="number" step="5" min="0" max="{{LLRechts[index]}}"
                        (ngModelChange)="updateChartRight();checkKLVert()">
                </td>
                }
            </tr>
            <tr>@for (value of LLRechts; track value; let index = $index) {
                <td>
                    <input [(ngModel)]="LLRechts[index]" type="number" step="5" min="{{KLRechts[index]}}" max="120"
                        (ngModelChange)="updateChartRight();checkKLVert()">
                </td>
                }
            </tr>


        </table>

    </div>

    <div>
        <canvas baseChart #chartLeft [data]="lineChartDataLeft" [options]="lineChartOptions" [type]="lineChartType">
        </canvas>

        <table>
            <tr>
                @for (label of lineChartDataRight.labels; track label) {
                <th>{{ label }}</th>
                }
            </tr>

            <tr>@for (value of KLLinks; track value; let index = $index) {
                <td>
                    <input [(ngModel)]="KLLinks[index]" type="number" step="5" min="0" max="{{LLLinks[index]}}"
                        (ngModelChange)="updateChartLeft();checkKLVert()">
                </td>
                }
            </tr>
            <tr>@for (value of LLLinks; track value; let index = $index) {
                <td>
                    <input [(ngModel)]="LLLinks[index]" type="number" step="5" min="{{KLLinks[index]}}" max="120"
                        (ngModelChange)="updateChartLeft();checkKLVert()">
                </td>
                }
            </tr>


        </table>
    </div>


</section>

<section>
    @if (checkKLVert()) {
    Die KL musste bei mindestens einer Frequenz vertäubt werden!!
    }
</section>

<section>
    @if (checkLLVert()) {
    Die LL musste bei mindestens einer Frequenz vertäubt werden!!
    }
</section>

<section>
    @if (checkKLVert() || checkLLVert()) {
    <button (click)="toggleVert()">Zeige/Verstecke Vertäubungspegel</button>
    }
</section>