section {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;

    div {

        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;

        canvas {
            width: 21vw !important;
            height: 40vh !important;
            border: 1px solid black;
            margin: 5px;
            padding: 5px;
        }
    }
}