<section style="display: flex; align-items: center; gap: 50px">

    <h1>Ton-Vertäubung</h1>

    <span style="font-size: small;">
        Symbol für KL-Vertäubung: Stern<br>
        Symbol für LL-Vertäubung: Rechteck
    </span>

</section>

<section>

    <div>
        <canvas baseChart #chartRight [data]="lineChartDataRight" [options]="lineChartOptions" [type]="lineChartType">
        </canvas>

        <table>
            <tr>
                @for (label of lineChartDataRight.labels; track label) {
                <th>{{ label }}</th>
                }
            </tr>

            <tr>@for (value of KLRechts; track value; let index = $index) {
                <td>
                    <input [(ngModel)]="KLRechts[index]" type="number" step="5" min="{{LLRechts[index]-45}}" max="{{LLRechts[index]}}"
                        (ngModelChange)="checkForVert();calcVert();updateCharts()">
                </td>
                }
            </tr>
            <tr>@for (value of LLRechts; track value; let index = $index) {
                <td>
                    <input [(ngModel)]="LLRechts[index]" type="number" step="5" min="{{KLRechts[index]}}"
                        max="{{KLRechts[index]+45}}" (ngModelChange)="checkForVert();calcVert();updateCharts()">
                </td>
                }
            </tr>


        </table>

    </div>

    <div>
        <canvas baseChart #chartLeft [data]="lineChartDataLeft" [options]="lineChartOptions" [type]="lineChartType">
        </canvas>

        <table>
            <tr>
                @for (label of lineChartDataRight.labels; track label) {
                <th>{{ label }}</th>
                }
            </tr>

            <tr>@for (value of KLLinks; track value; let index = $index) {
                <td>
                    <input [(ngModel)]="KLLinks[index]" type="number" step="5" min="{{LLLinks[index]-45}}" max="{{LLLinks[index]}}"
                        (ngModelChange)="checkForVert();calcVert();updateCharts()">
                </td>
                }
            </tr>
            <tr>@for (value of LLLinks; track value; let index = $index) {
                <td>
                    <input [(ngModel)]="LLLinks[index]" type="number" step="5" min="{{KLLinks[index]}}"
                        max="{{KLLinks[index]+45}}" (ngModelChange)="checkForVert();calcVert();updateCharts()">
                </td>
                }
            </tr>


        </table>
    </div>


</section>

<section>
    @if (checkForKLVert() || checkForLLVert()) {
    Die Audiogramme wurden unter Vertäubung aufgenommen.
    } @else {Die Audiogramme wurden ohne Vertäubung aufgenommen.}
    <!-- @if (checkForKLVert()) {
    (KL)
    }
    @if (checkForLLVert()) {
    (LL)
} -->
</section>

<section>
    @if (checkForUberVert()){
    Achtung: Übervertäubung!
    }
</section>

<section>
    @if (checkForKLVert() || checkForLLVert()) {
    <input type="checkbox" (change)="toggleVert()">Zeige Vertäubungspegel
    }
</section>